body{
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
}
header{
   
}
/*
.brand{
    margin-top: 10px;
}
nav{
    text-align: right;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 0 10px;
    
}
nav ul li a{
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
    
}
.nav li a:hover{
    text-decoration: none;
    background: #bed1e4;
}
.navbar-nav > li > a {
    
    line-height: 45px;
}
*/
.nav-border{
    border: none;
    background: none;
    margin-bottom: 0px;
   
}
nav ul li{
    margin-right: 5px;
    transition: 0.5s;
}
nav ul li a{
    text-transform: uppercase;
     line-height: 45px !important;
    font-size: 15px;
}
nav ul li:hover{
    background: #555;
    
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
    color: white;
}
.undermenuarea {
    background: #0E8FAB url(img/pat.png) repeat;
    margin-top: 40px;
}
.boxedshadow {
    background: url(img/shfinal.png) no-repeat 50% 0;
    margin-top: -40px;
    min-height: 75px;
    opacity: 1.0;
}
/*Slider*/
.slider{
   
   
}
.item{
    margin-top: -50px;
}
/*Under Slider*/
.para{
    overflow: hidden;
}
.underslider{
    background: #2c2c2c;
    color: #999;
    
}
.underslider_item{
    padding-top: 25px;
    padding-bottom: 8px;
   
}
.underslider_item .fa{
    color: #fff;
    font-size: 44px;
    
}
/*Feature Item*/
.feature{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 22px;
}
.feature p{
    font-size: 14px;
    margin-bottom: 10px;
}
.feature h1{
    font-size: 25px;
    line-height: 25px;
    margin-top: 20px;
}
.feature_item{
    border: 1px solid #999;
    transition: 0.8s;
    margin-top: 10px;
    margin-bottom: 10px;
}
.feature_heading i,h3{
    display: inline;
   
}
.feature_heading>h3{
     color: #fff;
   
}
.feature_heading .fa{
    font-size: 20px;
    padding-right: 8px;
}
.feature_in{
    padding: 13px;
}
.feature_heading{
   padding: 5px;
    background: #0E8FAB;
      color: #fff;
}
.feature_item:hover{
     box-shadow: 10px 10px 5px #888888;
}
/*Download*/
.download{
    border-left: #0E8FAB 3px solid;
    border-top: #eee 1px solid;
    border-bottom: #eee 1px solid;
    border-right: #eee 1px solid;
    padding: 10px;
}
.btn-custom{
    margin-top: 20px;
}
/*showcase*/
.project-showcase{
    margin-top: 30px;
    margin-bottom: 20px;
}
.customPrevBtn, .customNextBtn{
    margin-top: 11px;
    margin-bottom: 11px;
    height: auto;
    font-size: 15px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    background: #0E8FAB;
    padding: 5px;
}
.showcase1{
    border: 1px solid #F1F5F6;
    text-align: center;
    cursor: pointer;
    padding: 2%;
    
}
.showcase1 h3,p{
    padding: 4px;
}
.showcase-modal{
    padding: 10px;
}
.showcase-img{
    margin-top: 30px;
    box-sizing: border-box;
    padding: 29px;
}
/*Footer area*/
footer h3,address{
    color: #fff;
}
footer{
    color: #fff;
}
.footer-up{
    background: #222;
    padding-top: 30px;
}
.footer-up .logo{
    margin-top: 20px;
}
.footer-up .fa{
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}

.footer-link{
    margin-bottom: 10px;
}
.footer-link button{
    margin-top: 5px;
    margin-bottom: 5px;
}
.footer-down{
    background: #111;
   
}
.footer-down p{
   margin-bottom: 5px;
    margin-top: 10px;
}

/*About Us Page*/

.breadcrumb1{
    text-align: center;
}
.about-map i,.about-map>p{
    display: inline-block;
    
    
}
.about-map>p{
  
    font-size: 18px;
    color: #fff;
}
.about-map .fa{
  
    font-size: 18px;
    color: #fff;
}
.breadcrumb1 h2{
    margin-top: 13px;
    color: #fff;
}


/***************Project*****************/
.single-portfolio{
    text-align: center;
    line-height: 0px;
    margin: 0 auto;
    max-width: 355px;
    height: auto;
    border: 1px solid #e1d7d7;
    padding: 6px;
    margin-bottom: 20px;
}
.single-portfolio>h3{
    
    margin-top: 5px;
}
.single-portfolio>h3>a{
    text-decoration: none;
    color: #111;
    margin-top: 5px;
}
.portfolio-img{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    overflow: hidden;
    width:100%;
    height: 100%;
    background: rgba(5, 119, 164, 0.7);
    bottom:0;
    left: 0;
    transition: .4s;
    color: #fff;
    text-align: center;
    padding-top: 98px;
    padding-bottom: 50px;
    opacity: 0;
}
.overlay{
    transform: scale(.5)
}
.portfolio-img:hover .overlay{
    transform: scale(1);
    opacity: 1;
}
.overlay .fa{
    font-size: 30px;
}
.overlay a{
    text-decoration: none;
}
.portfolio-img .overlay a{
    color: yellow;
}

/**************Single Page*****************/
.single-section{
    margin-top: 20px;
    margin-bottom: 20px;
}
.single-carousel{
    margin-top: 30px;
}